
// picker footer
.v3-emoji-picker .v3-footer {
  font-size: 14px;
  border-top: 1px solid #dddddd;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .v3-tone,
  .v3-foot-left {
    display: flex;
    align-items: center;
    img {
      width: 20px;
      display: block;
    }
    > span:first-child {
      margin-right: 6px;
    }
  }
  .v3-foot-left {
    > span.v3-text {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .v3-tone {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    > span {
      display: inline-flex;
      vertical-align: top;
    }
    .v3-text {
      font-size: 13px;
    }
    .v3-icon {
      padding-bottom: 3px;
    }
  }

}
