.v3-emoji-picker {
  .v3-header {
    padding: 15px 15px 13px;
    border-bottom: 1px solid;
    .v3-groups {
      display: flex;
      .v3-group {
        flex-grow: 1;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        font-size: 23px;
        cursor: pointer;
        position: relative;
        display: block;
        opacity: 0.7;
        transition: 200ms;

        &.v3-is-hidden {
          display: none;
        }

        &:first-child,
        &:last-child {
          flex-grow: 0;
        }
        &:hover {
          opacity: 1;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            display: block;
            width: 1em;
            height: auto;
          }
        }
      }
    }
  }
  .v3-spacing {
    height: 11px;
  }
  .v3-search input {
    width: 100%;
    display: block;
    height: 26px;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 12px;
    transition: 200ms;
    &:focus {
      outline: none;
    }
  }
}
