.v3-emoji-picker {
  height: 320px;
  width: 280px;
  background: white;
  color: #000000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  * {
    box-sizing: border-box;
  }
  .v3-header {
    padding: 15px 15px 5px;
    .v3-groups {
      display: flex;
      .v3-group {
        flex-grow: 1;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        font-size: 24px;
        cursor: pointer;
        position: relative;
        display: block;
        opacity: .7;
        transition: 200ms;
        &:first-child,
        &:last-child {
          flex-grow: 0;
        }
        &:hover {
          opacity: 1;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            display: block;
            width: 1em;
            height: auto;
          }
        }
      }
    }
  }
  .v3-search {
    padding: 11px 0 13px;
    border-bottom: 1px solid #ddd;
    input {
      width: 100%;
      display: block;
      height: 26px;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 12px;
      transition: 200ms;
      &:focus {
        outline: none;
        border-color: #000;
      }
    }
  }

  // picker body
  .v3-body {
    padding: 0 0 15px 15px;
    min-height: 0;
    .v3-body-inner {
      flex-grow: 1;
      min-height: 0;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      padding-right: 15px;

      .v3-group {
        h5 {
          margin: 0;
          position: sticky;
          top: 0;
          background: white;
          padding: 3px 0;
        }

        .v3-emojis {
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          font-size: 14px;
        }

      }

      /**
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }
      **/
    }
  }

  // picker footer
  .v3-footer {
    font-size: 14px;
    border-top: 1px solid #dddddd;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .v3-foot-left {
      display: flex;
      align-items: center;
      span:first-child {
        margin-right: 6px;
      }
    }
    .v3-tone {
      @extend .v3-foot-left;
      border: none;
      padding: 0;
      background: none;
      cursor: pointer;
      span {
        display: inline-flex;
        vertical-align: top;
      }
      .v3-text {
        font-size: 13px;
      }
      .v3-icon {
        padding-bottom: 3px;
      }
    }

  }

}
