.v3-emoji-picker {
  height: 320px;
  width: 280px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;

  * {
    box-sizing: border-box;
  }
}
