$size: 8px;

.v3-body-inner {
  scroll-behavior: smooth;
  scrollbar-color: #393d3f rgba(#000, 0.1);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
    background: rgba(#000, 0.3);
    border-radius: 5px;
  }

  &:hover::-webkit-scrollbar-thumb {
    display: block;
  }
}
